body {
  font-family: Roboto !important;
}
.responsive {
  width: 100% !important;
  height: auto !important;
}

.home {
  position: absolute !important;
  left: 32px !important;
  white-space: nowrap !important;
}
.contact {
  position: absolute !important;
  left: 16px !important;
  /* bottom: calc(max(20px, 20vmin)*2); */
  white-space: nowrap !important;
}
.title {
  letter-spacing: -1.5px !important;
  font-weight: 900 !important;
}
.navItem {
  border-radius: 4px !important;
}
.navItem:hover{
  border-radius: 4px !important;
}
